# Bashformer build requirements.
# name        kind  source                                           ref
notorch       git   https://github.com/ariannamethod/notorch.git      f0e4f73be9d58a7dac536655905c791fe015177a
